<br><br>
<div class="row justify-content-center">
	<div class="col-md-8 ">
		<div class="card mx-auto evaluation-card">
			<div class="card-block">
			    <div class="row card-title-container2 align-items-center">
					<div class="col-md-12">
						<h2 class="card-title">Editar solicitud de Evaluación</h2>
					</div>
				</div>
				<div class="container">
				    <p class="subtitle">Modificado por última vez: <%= l @reqDate, :format => :long %></p>
				    <h4>Instrucciones</h4>
				    <ol>
				    	<li>Selecciona el nivel que consideras que has logrado en las competencias que deseas que se evalúen.</li>
				    	<li>Escoge las evidencias que quieras que se revisen para evaluar cada competencia.</li>
				    </ol>
				</div>

				<%= form_for @evaluation, url: {action: "update"}, method: :put, html: {class: "md-form"} do |f| %>
				<%= f.hidden_field :reqDate, class:"create-type", :value => Date.today %>
				    <div role="tablist" aria-multiselectable="true">
				    	<% @competences.each do |c| %>
				    		<% 

				    		@evaluation = (@evaluations.select { |eval| eval.competence_id == c.id && eval.interview_id == @interview.id }).first

			    			if @evaluation.desLevel == 0
			    				@levelName = "No evaluar"
			    				@levelId = 0
			    			else
			    				@desLevel = Level.find(@evaluation.desLevel)
			    				@levelName = @desLevel.name
			    				@levelId = @desLevel.id
			    			end

				    		%>
				    	<%= hidden_field_tag 'evaluation[competences][' + c.id.to_s + '][evaluation_id]', @evaluation.id %>

						  <div class="card" id="comp-<%= c.id %>" data-comp="<%= c.id %>">
						    <div class="card-header" role="tab" id="headingOne">
						    	<div class="row">
						    		<div class="col-md-4">
						    			<h5 class="mb-0">
									        <p class="competence-name" data-parent="#accordion" aria-expanded="true" aria-controls="collapse">
									         <%= c.name %>
									        </p>
									    </h5>
						    		</div>
						    		<div class="col-md-4 offset-md-4">
						    			<select id="level_select-<%= c.id %>" class="form-control level-select" data-level_select="<%= c.id %>" name=<%='evaluation[competences][' + c.id.to_s + '][level]'%>>
					                      <option value=<%= @levelId %>><%= @levelName %></option>
					                      <% if @levelId != 0 then %>
					                      	<option value='0'>No evaluar</option>
					                      <% end %>
					                      <% @levels.each do |l| %>
						                      <% if l.name != "No conoce la fuerza" && l.name != "Sith" && l.name != @levelName then %>
						                      	<option value=<%= l.id %>> <%= l.name %> </option>
						                      <% end %>
					                      <% end %>
					                    </select>
						    		</div>
						    	</div>
						    </div>

						    <div id="collapse-<%= c.id %>" class="collapse" role="tabpanel" aria-labelledby="heading">
						      <div class="card-block competence-content">
						      	<h5>Evidencias</h5>
						      	<div class="container">
							    <% 
							    	@eval_evidences = EvaluationEvidence.where(evaluation_id: @evaluation.id)

							    	@eval_ids = @eval_evidences.map{ |e| e.evidence_id }
							    %>
							      	
							    <% @evidences.each do |e| %>
							    <% @checked = @eval_ids.include? e.id %>
										<%= check_box_tag 'evaluation[competences][' + c.id.to_s + '][evidences][]', e.id, @checked %>
										<%= label_tag 'evidence-', e.name %>
										<br>
									<% end %>
								</div>
						      </div>
						    </div>
						  </div>
					  <% end %>
					</div>

				<br>
				<div class="row">
					<div class="col-md-12 text-center">
						<%= f.submit "Guardar", class: 'btn btn-success' %>
					</div>
				</div>
				<br>
				<% end %>
			</div>
		</div>
	</div>
</div>