<% provide(:title, 'Crear Semestre') %>
<div class="container-fluid">

  <div class="row content">
    <div class="col-md-12 col-xs-12">
      <h1>Editar Semestre</h1>
      <%= render 'shared/semester_error_messages' %>
    </div>
  </div>
  <%= form_for @semester, url: semester_path(@semester), html: { method: :patch } do |f| %>
  <div class="row">
    <div class="col-md-6">
      <%= f.label :name, 'Nombre'%>
      <%= f.text_field :name, class: 'form-control'%>
    </div>
    <div class="col-md-3">
      <%= f.label :start_date, "Fecha de inicio" %>
      <%= f.date_field :start_date, class: 'form-control' %>
    </div>



    <div class="col-md-3">
      <%= f.label :end_date, "Fecha de fin" %>
      <%= f.date_field :end_date, class: 'form-control' %>
    </div>
  </div>

    <div class="row">
      <div class="col-md-12 col-xs-12">
        <br>
        <h4>Usuarios</h4>
        <br>
        <div class="row">
          <div class="col-md-12">
            <%= f.collection_check_boxes :user_ids, User.all, :id, :full_name do |b| %>
              <div class="collection-check-box col-md-3 col-xs-12">
                <%= b.check_box%>
                <%= b.label %>
              </div>
            <% end %>
          </div>
        </div>
      </div>

    </div>
    <br><br><br>
    <div class="row">
     <div class="col-md-2 col-sm-4 offset-md-4 offset-sm-2">
        <br>
        <%= link_to raw("<button class=\"btn btn-danger form-btn\">Cancelar</button>"),
                   semesters_url%>
      </div>
      <div class="col-md-2 col-sm-4">
        <br>
        <%= f.submit "Guardar", class: "btn btn-success form-btn" %>
      </div>
    </div>
    <% end %>
  </div>

</div>
