<% provide(:title, 'Usuarios') %>
<% content_for :stylesheet do %>
    <%= stylesheet_link_tag    "styles", :media => "all" %>
<% end %>

<div class="container-fluid ">
  <div class="row content">
    <div class="col-md-6 col-xs-12">
      <h2>Semestres</h2>
    </div>
    <div class="col-md-6 col-xs-12">
       <%= link_to "Crear semestre", new_semester_url, class:"btn btn-success float-right" %>
    </div>
  </div>
  <div class="row">
    <% for semester in @semesters do %>
    <div class="col-md-6">
      <div class="card semesters-card">
        <h5 class="card-header">
        <div class="row">
          <div class="col-md-6 col-sm-12">
           <%=link_to semester.name, show_semester_url(semester) %>
          </div>
          <div class="col-md-2  col-sm-2">
           <%= link_to semester_grades_url(semester, format: "xlsx"),class:"btn btn-success" do %>
            <i class="fa fa-download"></i>
           <% end %>
          </div>
           <div class="col-md-2 col-sm-2">
            <%= link_to edit_semester_url(semester),class:"btn btn-warning" do %>
              <i class="fa fa-pencil"></i>
            <% end %>
           </div>
           <div class="col-md-2 col-sm-2">
            <%= link_to semester_url(semester), method: :delete, data: { confirm: '¿Estás seguro de querer borrar este semestre?' },  class: 'btn btn-danger' do %>
              <i class="fa fa-trash"></i>
            <% end %>
           </div>
        </div>
         
        </h5>
        <div class="card-block">
          <div class="container">
          <br>
            <p class="card-text"> Periodo: <strong><%=semester.start_date.strftime("%d/%m/%Y") + ' - ' + semester.end_date.strftime("%d/%m/%Y") %></strong></p>
            <p> Estudiantes registrados: <strong><%=semester.users.where(role_id: 3).count.to_s%></strong></p>
            <p> Profesores registrados: <strong><%=semester.users.where(role_id: 2).count.to_s%></strong></p>
            <div class="row">
              <div class="col-md-12 col-xs-12 text-right">
               
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <% end %>
  </div>
</div>