<br>
<div class="row">
  <div class="col-md-12 col-xs-12">
    <div class="card mx-auto evaluation-card">
      <div class="card-block">
        <div role="tablist" aria-multiselectable="true">
          <% @evaluations.each do |eval| %>
            <% @competence = Competence.find(eval.competence_id)%>
            <div class="card" id="comp-<%= @competence.name %>" data-comp="<%= @competence.id %>">
              
              <!-- Card header -->
              <div class="card-header" role="tab" id="headingOne">
                <div class="row">
                  <div class="col-md-4">
                    <h5 class="mb-0">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapse-<%= @competence.id %>" aria-expanded="true" aria-controls="collapseOne">
                         <%= @competence.name %>
                        </a>
                    </h5>
                  </div>
                </div>
              </div>

               <!-- Card content -->
              <div id="collapse-<%= @competence.id %>" class="collapse" role="tabpanel" aria-labelledby="heading">

              <div class="card-block competence-content">

                <div class="row">
                  <div class="col-md-12">
                    <h5>Evidencias</h5>
                    <% @eval_evidences = EvaluationEvidence.where(evaluation_id: eval.id)%>
                    <% if @eval_evidences.nil? %>
                      <p>No hay evidencias</p>
                    <% else %>
                      <ul>
                        <% @eval_evidences.each do |eval_evidence|
                        @evidence = Evidence.find(eval_evidence.evidence_id)
                        %>
                        <li><%= @evidence.name %></li>
                       <% end %>
                      </ul>
                    <% end %>
                  </div>
                </div>

                <div class="row">
                  <div class="col-md-12">
                    <h5>Evaluación</h5>
                    <table class="table-striped">
                      <tr>
                        <th> Profesor </th>
                        <th> Rol </th>
                        <th> Nivel </th>
                      </tr>
                      <tr>
                        <td>  </td>
                        <td>  </td>
                        <td>  </td>
                      </tr>
                    </table>
                  </div>
                </div>

               </div>

              </div>

            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

