<% provide(:title, 'Modificar Contraseña') %>
<h1>Modificar contraseñas</h1>

<div class="row">
  <div class="col-md-12 col-xs-12">
    <%= form_for @user, url: update_user_path(@user), html: { method: :patch } do |f| %>
    <%= render 'shared/user_error_messages' %>
  </div>
  <div class="col-md-5">
    <%= f.label :password, "Nueva Contraseña" %>
    <%= f.password_field :password, class: 'form-control' %>

    <%= f.label :password_confirmation, 'Confirma tu nueva contraseña'%>
    <%= f.password_field :password_confirmation, class: 'form-control'%>
  </div>

  <div class="col-md-12">
    <br>
    <%= f.submit "Actualizar contraseña", class: "btn btn-primary" %>
  </div>

  <% end %>

</div>
