<% provide(:title, 'Crear Usuario') %>
<div class="container-fluid">
  <div class="row content">
    <div class="col-md-12 col-xs-12">
      <h1>Modificar usuario</h1>
      <%= render 'shared/user_error_messages' %>
    </div>
  </div>
  <%= form_for @user, url: update_user_data_path(@user), html: { method: :put } do |f| %>
  <div class="row">
    <div class="col-md-5">
      <%= f.label :name, 'Nombre'%>
      <%= f.text_field :name, class: 'form-control'%>

      <%= f.label :last_name, "Apellido" %>
      <%= f.text_field :last_name, class: 'form-control' %>
    </div>

    <div class="col-md-5">
      <%= f.label :email, "Correo" %>
      <%= f.email_field :email, class: 'form-control' %>

      <%= f.label :email, "Rol" %>
      <br>
      <%= f.collection_select(:role_id, Role.all, :id, :name, {}, {class: 'form-control'}) %>

    </div>


    <div class="col-md-12">
      <br>
      <%= f.submit "Actualizar usuario", class: "btn btn-primary" %>
    </div>

    <% end %>
  </div>
</div>
