<% provide(:title, 'Modificar Contrase単a') %>

<div class="container-fluid">
  <div class="row content">
    <div class="col-md-12 col-xs-12">
      <h1>Cambiar contrase単a</h1>
      <%= render 'shared/user_error_messages' %>
    </div>
  </div>
  <%= form_for @user, url: update_user_path(@user), html: { method: :patch } do |f| %>
  <div class="row">
    <div class="col-md-6">
      <%= f.label :password, "Nueva Contrase単a:" %>
      <%= f.password_field :password, class: 'form-control' %>
    </div>
    <div class="col-md-6">
      <%= f.label :password_confirmation, 'Confirma tu nueva contrase単a:'%>
      <%= f.password_field :password_confirmation, class: 'form-control'%>
    </div>
  </div>

    <br><br><br>
    <div class="row">
     <div class="col-md-2 col-sm-4 offset-md-4 offset-sm-2">
        <br>
        <%= link_to raw("<button class=\"btn btn-danger form-btn\">Cancelar</button>"),
                   show_user_url(@user)%>
      </div>
      <div class="col-md-2 col-sm-4">
        <br>
        <%= f.submit "Guardar", class: "btn btn-success form-btn" %>
      </div>
    </div>
    <% end %>
  </div>

