<% content_for :stylesheet do %>
    <%= stylesheet_link_tag    "styles", :media => "all" %>
<% end %>

<% content_for :javascript do %>
    <%= javascript_include_tag 'evidences/index' %>
<% end %>
<div class="row">
  <div class="col-md-12">
    <h6>Usuario:<%= @user.name + ' ' + @user.last_name %></h6>
    <h6>Correo: <%= @user.email  %> </h6>
    <h6><%= @user.role.name %></h6>
    <%= link_to 'Editar mi contraseña', edit_user_path(@user), class: 'btn btn-primary' %>
  </div>

</div>
 <br>
<nav class="nav nav-tabs" id="myTab" role="tablist">
  <a class="nav-item nav-link pills waves-effect waves-light active" id="nav-po_1-tab" data-toggle="tab" href="#evidencias" role="tab" aria-controls="evidencias" aria-selected="true">Evidencias</a>
  <a class="nav-item nav-link pills waves-effect waves-light" id="nav-po_2-tab" data-toggle="tab" href="#evaluaciones" role="tab" aria-controls="evaluaciones" aria-selected="false">Evaluaciones</a>
</nav>

<div class="tab-content" id="nav-tabContent">
  <div class="tab-pane fade show active" id="evidencias" role="tabpanel" aria-labelledby="evidencias-tab">
    <div class="row">
      <div class="col-md-12">
        <button type="button" class="btn-success" data-toggle="modal" data-target="#saveEvidence" >Agregar evidencia</button>
        <table class="table table-hover">
          <thead>
            <tr>
              <th scope="col">Nombre</th>
              <th scope="col">Url</th>
              <th scope="col">Acciones</th>
            </tr>
          </thead>
          <tbody>
            <% for ev in @evidences do %>
            <tr>
              <td><%= ev.name %></td>
              <td> <a target="_blank" href=<%= ev.url %>><%= ev.url %></a>  </td>
              <td>
                <%= link_to "Editar", edit_evidence_path(ev), class:"btn btn-warning edit-evidence_types-link", "data-toggle" =>"modal", "data-target"=>"#editEvidence" %>
                <%= link_to 'Borrar', evidence_path(ev), method: :delete, data: { confirm: '¿Estás seguro de querer borrar esta evidencia?' },  class: 'btn btn-danger' %>
              </td>
            </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>


  <div class="tab-pane fade" id="evaluaciones" role="tabpanel" aria-labelledby="evaluaciones-tab">
    <br>
    <div class="row">
      <div class="col-md-12 col-xs-12">
        <div class="row">
            <% @interviews.each do |inter|%>
             <div class="col-md-6 col-xs-12 evaluations-col">
            <br>
            <% @evaluations = Evaluation.where(interview_id: inter.id) %>

            <% @reqDate = Evaluation.find_by(interview_id: inter.id).reqDate%>

              <div class="card mx-auto evaluation-card">
                <div class="card-block">
                  <div class="row card-title-container align-items-center">
                    <div class="col-md-12">
                      <h3 class="card-title align-self-center"><%= l @reqDate, :format => :short %></h3>
                    </div>
                  </div>
                      <div role="tablist" class="tablist" aria-multiselectable="true">
                        <% @competences.each do |c| %>
                          <% 

                          @evaluation = (@evaluations.select { |eval| eval.competence_id == c.id && eval.interview_id == inter.id }).first

                          @eval_evidences = EvaluationEvidence.where(evaluation_id: @evaluation.id)

                          %>

                          <% if !@eval_evidences.empty? %>

                              <%

                              @evidence_ids = @eval_evidences.map{ |e| e.evidence_id }

                              if @evaluation.desLevel == 0
                                @levelName = "No evaluar"
                                @levelId = 0
                              else
                                @desLevel = Level.find(@evaluation.desLevel)
                                @levelName = @desLevel.name
                                @levelId = @desLevel.id
                              end

                              %>
                            <div class="card evaluation-card-content" id="comp-<%= c.id %>" data-comp="<%= c.id %>">
                              <div class="card-header" role="tab" id="headingOne">
                                <div class="row">
                                  <div class="col-md-2">
                                    <h5 class="mb-0">
                                        <p class="competence-name" data-parent="#accordion" aria-expanded="true" aria-controls="collapse">
                                         <%= c.name %>
                                        </p>
                                    </h5>
                                  </div>

                                  <div class="col-md-4">
                                    <input class="form-control" value="<%= @levelName %>" disabled></input>
                                  </div>
                                </div>
                              </div>

                              <div id="collapse-<%= c.id %>" role="tabpanel" aria-labelledby="heading">
                                <div class="card-block competence-content">
                                  <h5>Evidencias</h5>
                                  <div class="container">
                                  
                                    <ul>
                                      <% @evidence_ids.each do |e| %>
                                      <% @evidence = Evidence.find(e) %>
                                        <li><a href= <%= @evidence.url %> ><%= @evidence.name %></a></li>
                                      <% end %>
                                    </ul>
                                  </div>
                                </div>
                              </div>
                            </div>
                          <% end %>

                       <% end %>
                    </div>
                 
                </div>
              </div>

               </div>

            <% end %>

         
        </div>
      </div>
    </div>
  </div>

</div>



<!---- Modal for evidence -->
<div id="saveEvidence" class="modal fade modalEvidence" role="dialog">
  <div class="modal-dialog modal-lg">
    <%= form_for(@evidence, url: evidences_path(@evidence), html: {method: :create}) do |f| %>
        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title">Crear evidencia</h4>
          </div>
          <div class="modal-body">
            <div class=" bot">
                <div class="modal-line-spacing">
                    <div class="row">
                        <div class="col-sm-5 col-md-5 a">
                            <%= f.label :name, "Nombre", class:"col-sm-12 col-form-label" %>
                            <%= f.text_field :name, autofocus: true, class:"form-control", required: true %>
                        </div>
                        <div clasS="col-md-1"></div>
                        <div class="col-sm-5 col-md-5 a">
                            <%= f.label :url, "Url", class:"col-sm-12 col-form-label" %>
                            <%= f.text_field :url, class: "form-control", required: true %>
                        </div>
                    </div>
                </div>
            </div>
        </div>
          <div class="modal-footer">
                <%= f.button "Cancelar", 'data-dismiss':"modal", class: "btn btn-cancel" %>
                <%= f.submit "Guardar", class:"btn btn-save" %>
          </div>
        </div>
    <%end%>
  </div>
</div>
<!-- Modal for editing evidence -->
<div id="editEvidence" class="modal fade" role="dialog">
     <div class="modal-dialog modal-lg">

     </div>
</div>
