<%= javascript_include_tag "https://www.gstatic.com/charts/loader.js" %>
<% content_for :stylesheet do %>
    <%= stylesheet_link_tag    "styles", :media => "all" %>
<% end %>

<% content_for :javascript do %>
    <%= javascript_include_tag 'evidences/index' %>
<% end %>

<div class="container-fluid">

  <% if @user.role_id == 3 %>
    <div class="row content">
      <div class="col-md-6 col-xs-12 profile-con">
        <div class="row">
          <div class="col-md-8 col-xs-12">
            <h4>Usuario:</h4><%= @user.name + ' ' + @user.last_name %>
            <br><br>
            <h4>Correo: </h4><%= @user.email  %>
            <br><br>
            <h4>Rol: </h4><%= @user.role.name %>
            <br><br>
            <h4>Semestres: </h4>
            <ul>
              <% @user.semesters.each do |semester| %>
                <li><%= semester.name %></li>
              <% end %>
            </ul>
          </div>
          <div class="col-md-4 col-xs-12">
            <% if current_user.id == @user.id %>
              <%= link_to  edit_user_path(@user), class: 'btn btn-warning' do %>
                <i class="fa fa-key" aria-hidden="true"></i>
              <% end %>
            <% end %>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-xs-12 text-center">
        <br>
        <%
          obj = {}
          @user_evaluations.where(competence_id: 1).order(:updated_at).each do |ev|
            obj[ev.updated_at] = ev.achLevel
          end
          puts "Obj = #{obj}"
        %>
        <%= line_chart @competences.map { |competence|
          obj = {}
          @user_evaluations.where(competence_id: competence.id).order(:updated_at).each do |ev|
            obj[ev.created_at] = ev.achLevel
          end
          {name: competence.name, data: obj}
          } , xtitle: "Fecha", ytitle: "Nivel"
        %>
      </div>
    </div>

  <ul class="nav nav-tabs justify-content-left" role="tablist">
    <li class="nav-item"><a class="nav-link active pills" data-toggle="tab" href="#evidencias" role="tab">Evidencias</a></li>
    <li class="nav-item"><a class="nav-link pills" data-toggle="tab" href="#competencias" role="tab">Competencias</a></li>
    <li class="nav-item"><a class="nav-link pills" data-toggle="tab" href="#evaluaciones" role="tab">Entrevistas</a></li>
  </ul>

  <div class="tab-content" id="nav-tabContent">
    <div class="tab-pane fade show active" id="evidencias" role="tabpanel" aria-labelledby="evidencias-tab">
      <div class="row">
        <div class="col-md-12">
          <% if current_user.id == @user.id %>
          <button type="button" class="btn btn-success pull-right divide" data-toggle="modal" data-target="#saveEvidence" >Agregar evidencia</button>
          <% end %>
          <table class="table table-hover table-responsive">
            <thead>
              <tr>
                <th>Nombre</th>
                <th>Url</th>
                <th>Acciones</th>
              </tr>
            </thead>
            <tbody>
              <% for ev in @evidences do %>
              <tr>
                <td width="20%"><%= ev.name %></td>
                <td width="40%"> <a target="_blank" href=<%= ev.url %>><%= ev.url %></a>  </td>
                <td width="30%">
                  <% if current_user.id == @user.id %>
                  <%= link_to "Editar", edit_evidence_path(ev), class:"btn btn-warning edit-evidence_types-link", "data-toggle" =>"modal", "data-target"=>"#editEvidence" %>
                  <%= link_to 'Borrar', evidence_path(ev), method: :delete, data: { confirm: '¿Estás seguro de querer borrar esta evidencia?' },  class: 'btn btn-danger' %>
                  <% end %>
                </td>
              </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>


  <!-- Competencias -->
  <div class="tab-pane fade" id="competencias" role="tabpanel" aria-labelledby="competencias-tab">
    <div class="row">
      <div class="col-md-12 col-xs-12">
        <div class="card mx-auto evaluation-card">
          <div class="card-block">
            <%= form_for @evaluation, url: {action: "create"}, html: {class: "md-form"} do |f| %>
            <%= f.hidden_field :reqDate, class:"create-type", :value => Date.today %>
                <div role="tablist" aria-multiselectable="true">
                  <% @competences.each do |c| %>
                  <div class="card" id="comp-<%= c.id %>" data-comp="<%= c.id %>">
                    <div class="card-header" role="tab" id="headingOne">
                      <div class="row">
                        <div class="col-md-4">
                          <h5 class="mb-0">
                              <a data-toggle="collapse" data-parent="#accordion" href="#collapse-<%= c.id %>" aria-expanded="true" aria-controls="collapseOne">
                               <%= c.name %>
                              </a>
                          </h5>
                        </div>
                      </div>
                    </div>

                    <div id="collapse-<%= c.id %>" class="collapse" role="tabpanel" aria-labelledby="heading">
                      <div class="card-block competence-content">
                        <%
                        @competence_evaluations = Evaluation.where(user_id: @user.id, competence_id: c.id)

                        @competence_evaluations = @competence_evaluations.drop(1)
                        %>

                        <% @competence_evaluations.each do |eval| %>
                          <% if eval.desLevel != 0 %>
                            <h4 class="competence-name"><%= eval.reqDate%></h4>
                            <div class="container">
                              <div class="row">
                                <div class="col-md-6">
                                  <h5>Nivel deseado:</h5>
                                    <input class="form-control" readonly="true" value=<%= Level.find(eval.desLevel).name %>>
                                </div>
                                <div class="col-md-6">
                                  <h5>Nivel logrado: </h5>
                                  <% if eval.achLevel != nil then @achLevel = Level.find(eval.achLevel)%>
                                    <input class="form-control" readonly="true" value=<%= @achLevel.name %>>
                                    <% else %>
                                    <input class="form-control" readonly="true" value="Sin evaluar">
                                    <% end %>
                                </div>
                              </div>
                              <br>
                              <div class="row">
                                <div class="col-md-6">
                                  <h5>Evidencias</h5>
                                   <% @eval_evidences = EvaluationEvidence.where(evaluation_id: eval.id)%>
                                   <% if @eval_evidences.nil? %>
                                     <p>No hay evidencias</p>
                                   <% else %>
                                     <ul>
                                       <% @eval_evidences.each do |eval_evidence|
                                        @evidence = Evidence.find(eval_evidence.evidence_id)
                                        %>
                                        <li><%= @evidence.name %></li>
                                       <% end %>
                                    </ul>
                                   <% end %>
                                 </div>
                                 <div class="col-md-6">
                                  <h5>Evaluadores</h5>
                                  <% if !eval.achLevel.nil? %>
                                    <ul>
                                      <% for u in eval.users do %>
                                        <li><%= u.name %></li>
                                       <% end %>
                                    </ul>
                                  <% else %>
                                    <p>No hay evaluadores</p>
                                  <% end %>
                                </div>
                              </div>
                              <div class="row">
                                <div class="col-md-6">
                                  <h5>Retroalimentación</h5>

                                  <%= text_area_tag 'retro', eval.retro, class: "form-control", disabled: true, size: "25x10" %>

                                </div>
                              </div>
                            </div>
                            <br>
                          <% end %>
                        <% end %>
                      </div>
                    </div>
                  </div>
                <% end %>
              </div>
            <% end %>
          </div>
    </div>
      </div>
    </div>
  </div>


  <!-- Evaluaciones -->
  <div class="tab-pane fade" id="evaluaciones" role="tabpanel" aria-labelledby="evaluaciones-tab">
    <div class="row">
      <div class="col-md-12 col-xs-12">
        <% if current_user.id == @user.id %>
          <a class="btn btn-success pull-right" href="/evaluaciones/nueva" role="button">Solicitar evaluación</a>
          <br><br>
        <% end %>
        <div class="row">
            <% @interviews.each do |inter|%>
             <div class="col-md-6 col-xs-12 evaluations-col">
            <br>
            <% @evaluations = Evaluation.where(interview_id: inter.id) %>

            <% @reqDate = Evaluation.find_by(interview_id: inter.id).reqDate%>

              <div class="card mx-auto evaluation-card">
                <div class="card-block">
                  <div class="row card-title-container align-items-center">
                    <div class="col-md-6">
                      <h3 class="card-title"><%= l @reqDate, :format => :short %></h3>
                    </div>
                      <div class="col-md-6 text-right">
                        <% if current_user.id == @user.id %>
                        <%= link_to "Editar", edit_evaluation_path(inter.id), class:"btn btn-warning"  %>
                        <%= link_to 'Borrar', destroy_evaluation_path(inter.id), method: :delete, data: { confirm: '¿Estás seguro de querer borrar esta evaluación?' },  class: 'btn btn-danger' %>
                        <% elsif  current_user.role_id == 2 %>
                           <%= link_to show_interview_url(inter.id), class:"btn btn-success" do %>
                            <span><i class="fa fa-list-alt" aria-hidden="true"></i>   Evaluar</span>
                           <% end %>
                        <% end %>
                      </div>
                  </div>
                      <div role="tablist" class="tablist" aria-multiselectable="true">
                        <% @competences.each do |c| %>
                          <%

                          @evaluation = (@evaluations.select { |eval| eval.competence_id == c.id && eval.interview_id == inter.id }).first

                          @eval_evidences = EvaluationEvidence.where(evaluation_id: @evaluation.id)

                          %>

                          <% if @evaluation.desLevel != 0 %>

                            <% if !@eval_evidences.empty?
                                @evidence_ids = @eval_evidences.map{ |e| e.evidence_id }
                              else
                                @evidence_ids = []
                              end

                                if @evaluation.desLevel == 0
                                  @levelName = "No evaluar"
                                  @levelId = 0
                                else
                                  @desLevel = Level.find(@evaluation.desLevel)
                                  @levelName = @desLevel.name
                                  @levelId = @desLevel.id
                                end

                                @achLevel = "No evaluado"

                                if @evaluation.achLevel != nil
                                  @achLevel = Level.find(@evaluation.achLevel).name
                                end

                                %>
                              <div class="card evaluation-card-content" id="comp-<%= c.id %>" data-comp="<%= c.id %>">
                                <div class="card-header" role="tab" id="headingOne">
                                  <div class="row">
                                    <div class="col-md-2">
                                      <h5 class="mb-0">
                                          <p class="competence-name" data-parent="#accordion" aria-expanded="true" aria-controls="collapse">
                                           <%= c.name %>
                                          </p>
                                      </h5>
                                    </div>

                                    <div class="col-md-5">
                                      <label>Nivel deseado:</label>
                                      <input class="form-control" value="<%= @levelName %>" disabled></input>
                                    </div>
                                    <div class="col-md-5 selector">
                                      <label>Nivel logrado:</label>
                                        <input class="form-control" value="<%= @achLevel %>" disabled></input>
                                    </div>
                                  </div>
                                </div>

                                <div id="collapse-<%= c.id %>" role="tabpanel" aria-labelledby="heading">
                                  <% if !@evaluation.achLevel.nil? %>
                                    <div class="card-block competence-content">
                                      <h5>Evaluadores</h5>
                                      <div class="row">
                                        <div class="col-md-12 col-xs-12">
                                          <ul>
                                            <% for u in @evaluation.users  do %>
                                            <li><%= u.full_name %></li>
                                            <% end %>
                                          </ul>
                                        </div>
                                      </div>
                                    </div>
                                  <% end %>
                                  <div class="card-block competence-content">
                                    <h5>Evidencias</h5>
                                    <% if @eval_evidences.empty? %>
                                      <p>Sin evidencias</p>
                                    <% end %>
                                    <div class="row">
                                      <div class="col-md-12 col-xs-12">
                                      <ul>
                                        <% @evidence_ids.each do |e| %>
                                        <% @evidence = Evidence.find(e) %>
                                          <li><a target="_blank" href= <%= @evidence.url %> ><%= @evidence.name %></a></li>
                                        <% end %>
                                      </ul>
                                    </div>
                                  </div>
                                  </div>
                                  <% if current_user.role_id == 2 %>
                                  <div class="card-block competence-content">
                                    <h5>Retroalimentación</h5>
                                    <label id=<%= 'successretro-' + @evaluation.id.to_s %>></label>
                                    <div class="container">
                                      <%= text_field :evaluation, :retro, class: "editRetro col-md-12", 'data-id': @evaluation.id, disabled: true %>
                                    </div>
                                  </div>
                                  <% end %>
                                </div>
                              </div>
                            <% end %>
                          <% end %>
                    </div>
                </div>
              </div>
            </div>
            <% end %>
        </div>
      </div>
    </div>

  </div>
</div>

<!-- Modal for evidence -->
<div id="saveEvidence" class="modal fade modalEvidence" role="dialog">
  <div class="modal-dialog modal-lg">
    <%= form_for(@evidence, url: evidences_path(@evidence), html: {method: :create}) do |f| %>
        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title">Crear evidencia</h4>
          </div>
          <div class="modal-body">
            <div class=" bot">
                <div class="modal-line-spacing">
                    <div class="row">
                        <div class="col-sm-5 col-md-5 a">
                            <%= f.label :name, "Nombre", class:"col-sm-12 col-form-label" %>
                            <%= f.text_field :name, autofocus: true, class:"form-control", required: true %>
                        </div>
                        <div clasS="col-md-1"></div>
                        <div class="col-sm-5 col-md-5 a">
                            <%= f.label :url, "Url", class:"col-sm-12 col-form-label" %>
                            <%= f.text_field :url, class: "form-control", required: true %>
                        </div>
                    </div>
                </div>
            </div>
        </div>
          <div class="modal-footer">
                <%= f.button "Cancelar", 'data-dismiss':"modal", class: "btn btn-cancel" %>
                <%= f.submit "Guardar", class:"btn btn-save" %>
          </div>
        </div>
    <%end%>
  </div>
</div>
<!-- Modal for editing evidence -->
<div id="editEvidence" class="modal fade" role="dialog">
     <div class="modal-dialog modal-lg">

     </div>
</div>

<!-- If the profile doesn't belong to a student -->
  <% else %>
    <div class="row content">
      <div class="col-md-6 col-xs-12">
        <h4>Usuario:</h4><%= @user.name + ' ' + @user.last_name %>
        <br><br>
        <h4>Correo: </h4><%= @user.email  %>
        <br><br>
        <h4>Rol: </h4><%= @user.role.name %>
        <br><br>
        <h4>Semestres: </h4>
        <ul>
          <% @user.semesters.each do |semester| %>
            <li><%= semester.name %></li>
          <% end %>
        </ul>
      </div>
      <div class="col-md-6 col-xs-12">
        <% if current_user.id == @user.id %>
          <%= link_to  edit_user_path(@user), class: 'btn btn-warning float-right' do %>
            <i class="fa fa-key" aria-hidden="true"></i>
          <% end %>
        <% end %>
      </div>
    </div>
  <% end %>


