<% provide(:title, 'Malla de evaluaci贸n') %>
<% content_for :stylesheet do %>
    <%= stylesheet_link_tag    "styles", :media => "all" %>
<% end %>

<div class="container-fluid ">
  <div class="row content">
    <div class="col-md-10 col-xs-10">
      <h2>Malla de evaluaci贸n</h2>
    </div>
  </div>

  <%= form_tag(save_competences_url(current_semester)) do %>
    <div class="row">
      <div class="col-md-12 col-xs-12">
       <div class="table-responsive">
        <table class="table table-hover table-bordered" id="comp-table">
          <thead class="malla-head">
            <tr>
              <th>Competencias</th>
              <th>Evidencias</th>
              <% if @semester.competences.first != nil %>
                <% @levels.each do |level| %>
                  <<th class="accept-drag"><input name="levels_names[<%= level.id %>]" type='text' class="form-control" value='<%= level.name %>'></th>
                <% end %>
              <% end %>
              <th><button type="button" class="btn btn-primary" onclick="appendColumn()">Nivel &nbsp<i class="fa fa-plus" aria-hidden="true"></i></button></th>
            </tr>
          </thead>
          <tbody>

            <% if @semester.competences.first != nil %>
              <% @semester.competences.each_with_index do |competence, i| %>
                <tr id="row<%= i %>">
                  <td>
                    <input name="competences_names[<%= competence.id %>]" type="text" class="form-control" value="<%= competence.name %>">
                    <textarea name="competences_descriptions[<%= competence.id %>]" class="form-control" placeholder="Descripci贸n"><%= if !competence.description.nil? then competence.description end %></textarea>
                  </td>
                  <td><textarea name="competences_evidences[<%= competence.id %>]" class="form-control" placeholder="Evidencias"><%= competence.evidences %></textarea></td>
                  <% @levels.each do |level| 
                    c = CompetenceLevel.find_by(level_id: level.id, competence_id: competence.id)
                  %>
                    <td><textarea name="competence_levels[<%= c.competence.id.to_s + ',' + c.level.id.to_s %>]" class="form-control" placeholder="Descripci贸n"><%= if !c.description.nil? then c.description end %></textarea></td>
                  <% end %>
                  <td><button type="button" class="btn btn-danger btn-circle btn-lg" onclick="deleteRow(<%= i %>, '')"><i class="fa fa-minus" aria-hidden="true"></i></button></td>
                </tr>
              <% end %>
            <% end %>
            <tr>
              <td><button type="button" class="btn btn-primary" onclick="appendRow()">Competencia &nbsp<i class="fa fa-plus" aria-hidden="true"></i></button></td>
              <td></td>
              <% if @semester.competences.first != nil %>
                <% @semester.competences.first.levels.each_with_index do |level, i| %>
                  <td id="col<%= i %>"><button type="button" class="btn btn-danger btn-circle btn-lg" onclick="deleteColumn(<%= i %>, '')"><i class="fa fa-minus" aria-hidden="true"></i></button></td>
                <% end %>
              <% end %>
            </tr>
          </tbody>
        </table>
        </div>
      </div>
    </div>
    <br><br>
    <div class="row">
      <div class="col-md-2 col-sm-4 offset-md-4 offset-sm-2">
        <br>
        <%= link_to raw("<button class=\"btn btn-danger form-btn\">Cancelar</button>"),
                   semester_competences_url%>
      </div>
      <div class="col-md-2 col-sm-4">
        <br>
        <%= button_tag "Guardar", class: "btn btn-success form-btn"%>
      </div>
    </div>
  <% end %>
</div>
