<% provide(:title, 'Malla de evaluaci贸n') %>
<% content_for :stylesheet do %>
    <%= stylesheet_link_tag    "styles", :media => "all" %>
<% end %>

<div class="container-fluid ">
  <div class="row content">
    <div class="col-md-10 col-xs-10">
      <h2>Malla de evaluaci贸n</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 col-xs-12">
      <table class="table table-hover table-responsive" id="my-table">
        <thead>
          <tr>
            <th>Competencias</th>
            <th>Evidencias</th>
            <% @semester.competences.first.levels.each do |level| %>
              <th><input type='text' class="form-control" value='<%= level.name %>'></th>
            <% end %>
            <th><button class="btn btn-success float-right" onclick="appendColumn()">Col</button></th>
          </tr>
        </thead>
        <tbody>
          <% @semester.competences.each do |competence| %>
            <tr>
              <td>
                <input type="text" class="form-control" value="<%= competence.name %>">
                <textarea class="form-control" placeholder="Descripci贸n"><%= if !competence.description.nil? then competence.description end %></textarea>
              </td>
              <td><textarea class="form-control">Evidencias</textarea></td>
              <% competence.competence_level.each do |c| %>
                <td><textarea class="form-control" placeholder="Descripci贸n"><%= if !c.description.nil? then c.description end %></textarea></td>
              <% end %>
            </tr>
          <% end %>
          <tr>
            <td><button class="btn btn-success float-right" onclick="appendRow()">Row</button></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
