<nav class="navbar navbar-expand-sm navbar-custom">
  <% if !logged_in?%>
    <a href="/" class="navbar-brand">El Bloque - Semestre i</a>

  <% else %>
      <% if current_user.role.id != 3  %>
        <a class="navbar-brand" href=<%= all_semester_users_url %>>El Bloque - Semestre i</a>
      <% else %>
        <a class="navbar-brand" href="/malla">El Bloque - Semestre i</a>
      <%end%>
  <% end %>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCustom">
        <i class="fa fa-bars fa-lg py-1 text-white"></i>
    </button>
    <div class="navbar-collapse collapse" id="navbarCustom">
      <% if logged_in? %>
        <ul class="navbar-nav mr-auto">
            <li class="nav-item" id="nav-grid">
                <a class="nav-link" href="/malla"><i class="fa fa-list-alt" aria-hidden="true"></i> Malla</a>
            </li>
            <li class="nav-item" id="nav-users">
                <a class="nav-link" href=<%= all_semester_users_url  %>><i class="fa fa-users" aria-hidden="true"></i> Usuarios</a>
            </li>
            <li class="nav-item dropdown" id="nav-config">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fa fa-cog" aria-hidden="true"></i>
                   Configuración
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href=<%= semesters_url %>><i class="fa fa-book" aria-hidden="true"></i> Semestres</a>
                </div>
            </li>
        </ul>
        <ul class="navbar-nav ml-auto">
          <li class="nav-item dropdown navbar-right">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <%= current_semester.name %>
              </a>
              <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                  <% getSemesters.each do |semester|%>
                    <% if semester != current_semester %>
                      <a class="dropdown-item" data-semester-id="<%= semester.id %>" href=<%="/semestres/#{semester.id}/cambiar"%>><%= semester.name %></a>
                    <% end %>
                  <% end %>
              </div>
          </li>
        </ul>

        <a class="nav-item ml-auto username" id="profile-icon" href=<%= show_user_url(current_user) %>><i class="fa fa-user-circle fa-lg" aria-hidden="true"></i> <%= current_user.name + ' ' + current_user.last_name %></a>
        <%= link_to logout_path, "Cerrar sesión ", method: :delete, id: 'profile-icon', class: 'nav-item' do %>
          <i class="fa fa-power-off  fa-lg" aria-hidden="true"></i>
        <% end %>
        <% else %>

        <% end %>

    </div>
</nav>
